In [4]:
import numpy as np

import pandas as pd

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.909318  0.943943  1.428056 -0.485801
2013-01-02 -0.539154 -0.439230  0.916886 -0.511311
2013-01-03 -0.171333 -0.195917  0.711793  0.953787
2013-01-04  2.415596  0.250668 -0.260002  0.139125
2013-01-05 -1.371068 -2.008656 -1.002140  0.102070
2013-01-06 -0.638202  1.132053 -1.366950 -0.030704

In [9]:
df2 = pd.DataFrame(

    {

        "A": 1.0,

        "B": pd.Timestamp("20130102"),

        "C": pd.Series(1, index=list(range(4)), dtype="float32"),

        "D": np.array([3] * 4, dtype="int32"),

        "E": pd.Categorical(["test", "train", "test", "train"]),

        "F": "foo",

    }

)



df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df.to_numpy()

array([[-0.90931767,  0.94394255,  1.42805553, -0.48580097],
       [-0.53915433, -0.43922979,  0.9168861 , -0.51131087],
       [-0.17133277, -0.19591656,  0.71179257,  0.95378656],
       [ 2.41559636,  0.2506676 , -0.26000241,  0.13912484],
       [-1.37106781, -2.00865637, -1.00213996,  0.10207009],
       [-0.63820218,  1.13205329, -1.36694976, -0.03070388]])

In [13]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.909318   -0.539154   -0.171333    2.415596   -1.371068   -0.638202
B    0.943943   -0.439230   -0.195917    0.250668   -2.008656    1.132053
C    1.428056    0.916886    0.711793   -0.260002   -1.002140   -1.366950
D   -0.485801   -0.511311    0.953787    0.139125    0.102070   -0.030704

In [15]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01 -0.909318  0.943943
2013-01-02 -0.539154 -0.439230
2013-01-03 -0.171333 -0.195917
2013-01-04  2.415596  0.250668
2013-01-05 -1.371068 -2.008656
2013-01-06 -0.638202  1.132053

In [18]:
df.iloc[1:3, :2]

                   A         B
2013-01-02 -0.539154 -0.439230
2013-01-03 -0.171333 -0.195917